[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pillow = "*"
numpy = "*"
scipy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
